
header {
    background-color: #ff9900;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #d86d02; 
}

.user {
    font-weight: bold;
}

main {
    padding: 20px;
}

.error {
    color: red;
}

.login-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"]{
    width: 96%; 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="password"]{
    width: 96%; 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-form button {
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.login-form button:hover {
    background-color: #f57c00; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tabs {
    margin-top: 20px;
}

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs ul li {
    display: inline;
    margin-right: 10px;
}

.tabs ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.tabs ul li a:hover {
    background-color: #eaeaea; /* Изменение цвета фона при наведении */
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 5px 5px 5px;
    background-color: #f9f9f9;
}

.tab-content h3 {
    margin-top: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: calc(20% - 30px);
    margin: 0 10px 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-decoration: none; 
}

.card:hover {
    transform: scale(1.03);
    background: linear-gradient(45deg, #fff, #f9f9f9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-menu-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.user-menu:hover .user-menu-content {
    display: block;
}

.logout-btn {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f9f9f9;
}

/* styles.css */
.form-container {
    width: 50%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex-basis: 45%;
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3e8e41;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
    color: #555;
    width: 97%;
    min-height: 50px; /* Set a minimum height for the textarea */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide the scrollbar */
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

/*

header {
    background-color: #7bc74d; 
    padding: 10px 20px;
}

nav ul li a:hover {
    color: #5aa637; 
}

.login-form {
    background-color: #d0f0c0; 
}

.login-form button {
    background-color: #7bc74d; 
}

.login-form button:hover {
    background-color: #5aa637; 
}

.tabs ul li a {
    background-color: #c1e1a1;
}

.tabs ul li a:hover {
    background-color: #a3d981; 
}

.card {
    background-color: #c1e1a1; 
}

.card:hover {
    background: linear-gradient(45deg, #d0f0c0, #c1e1a1); 
}

tr:nth-child(even) {
    background-color: #d0f0c0; 

tr:hover {
    background-color: #c1e1a1; 
}

*/
header {
    background-color: #2c3e50;
    color: #f39c12;
    padding: 10px 20px;
}

nav ul li a {
    color: #2c3e50; 
}

nav ul li a:hover {
    color: #f39c12; 
}

.login-form {
    background-color: #ecf0f1;
}

.login-form button {
    background-color: #f39c12; 
    color: #ffffff; 
}

.tabs ul li a {
    background-color: #f39c12; 
    color: #2c3e50; 
}

.tabs ul li a:hover {
    background-color: #f1c40f;
}