<!-- templates/dynamic_table.html -->
{% extends "base.html" %}

{% block title %}Удаление записей{% endblock %}

{% block content %}

<h2>Удаление записей</h2>

<table class="table">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        {% for row in data %}
            <tr data-row-id="{{ row[0] }}">
                
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td>
                    <a href="#" class="delete-icon" onclick="confirmDelete(this)">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function confirmDelete(element) {
        if (confirm("Вы уверены, что хотите удалить эту запись?")) {
            let rowId = element.parentNode.parentNode.dataset.rowId;
            deleteRow(rowId, element);
        }
    }
    
    function deleteRow(rowId, element) {
        fetch(`/admin/automobile/delete/${rowId}`, {
            method: 'DELETE',
        })
        .then(response => {
            if (response.ok) {
                element.parentNode.parentNode.remove(); 
            } else {
                alert("Ошибка удаления.");
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
        });
    }
    </script>
{% endblock %}